.fab-container {
  position: absolute;
}

.fab-button {
  background-color: $app-memosa;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: $dark;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  z-index: 998; // TODO use a _variable
  transition: background-color 0.2s; // TODO use a variable

  &:hover {
    background-color: lighten($app-memosa, 10);
  }

  > * {
    display: block;
    transform: rotate(0deg);
    transition: transform 0.2s; // TODO refactor time as variable
  }
}

.fab-button--active {
  > * {
    transform: rotate(45deg);
  }
}

.fab-actions {
  bottom: 50px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 50px;

  transition-duration: 0.2s; // TODO refactor time as variable
  transition-property: transform max-height opacity;
}

.fab-actions--active {
  opacity: 1;
  max-height: 1000px;
}

.fab-action {
  background-color: $app-memosa;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: $dark;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  margin: 0 7px 15px;
  min-height: 36px;
  min-width: 36px;
  text-align: center;
  width: 36px;
  z-index: 998; // TODO use a _variable

  transform: scale(0.8) translateY(10px);
  opacity: 0;

  transition: all 0.3s ease-in;
}

.fab-action--active {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.fab-tooltip {
  background-color: rgba($dark, 0.9);
  border-radius: 5px;
  color: $light;
  font-size: 14px;
  margin-top: 4px;
  padding: 4px 10px;
  position: fixed;
  right: 81px;

  transform: scale(1) translateX(-20px);
  opacity: 0;

  transition: all 0.2s ease-in;
  transition-delay: 0.2s;
}

.fab-tooltip--active {
  transform: scale(1) translateY(0);
  opacity: 1;
}
