{
  "presets": [
    "memosa"
  ],
  "env": {
    "test": {
      "plugins": [
        ["babel-root-import", {
          "rootPathPrefix": "/",
          "rootPathSuffix": "./"
        }]
      ]
    }
  }
}
