{
  "extends": [
    "memosa",
    "plugin:meteor/recommended"
  ],

  "env": {
    "browser": true,
    "meteor": true,
    "mocha": true,
    "node": true
  },

  "parserOptions": {
    "allowImportExportEverywhere": true
  },

  "settings": {
    "import/resolver": "meteor"
  },

  "plugins": [
    "chai-expect",
    "meteor",
    "promise"
  ],

  "rules": {
    "no-warning-comments": ["error", { "terms": ["xxx"], "location": "start" }],

    "chai-expect/missing-assertion": 2,
    "chai-expect/terminating-properties": 1,

    "promise/param-names": 2,
    "promise/always-return": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 0,


    # Meteor uses absolute paths
    "import/no-absolute-path": "off"
  }
}
