image: node:7.0.0

cache:
  paths:
    - "node_modules"
    - "~/.npm"
    - "~/.meteor"
    - ".yarn"

before_script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.16.1
  - yarn config set cache-folder .yarn
  - yarn install

stages:
  - test
  - deploy

all_tests:
  stage: test
  script:
    - yarn run test

#
# dependencies:
#   cache_directories:
#
#   override:
#     # Cache Meteor
#     - if [ -d ~/.meteor ]; then sudo ln -s ~/.meteor/meteor /usr/local/bin/meteor; fi
#     - if [ ! -e $HOME/.meteor/meteor ]; then curl https://install.meteor.com | sh; fi
#     - npm install -g chimpz
#     - npm install -g selenium-standalone
#     - npm install
# test:
#   override:
#     - npm run dev:
#         background: true
#     - sleep 120
#     - npm run test
