@import 'variables';
@import "{}/node_modules/reactionic/dist/scss/styles/reactionic";

.stretch {
  height: 100%;
  width: 100%;
}

.platform-ios.platform-cordova {
  &:not(.fullscreen) {
    .scroll-content.ios-top-margin {
        top: $ios-statusbar-height;
    }
    .bar-header:not(.bar-subheader) {
      span > .title {
          top: $ios-statusbar-height;
      }
    }
  }
}
