.notebooks-list {
  display: flex;
  flex-wrap: wrap;
}

.notebooks-list__item-wrapper {
  width: 50%;
}

$notebook-height: 230px;
$notebook-width: 3.5 / 5 * $notebook-height;
$notebook-ledger-height: $notebook-height / 2.1;

.notebooks-list__item {
  background-color: #c34244;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 4px 3px 10px rgba(21, 21, 21, 0.3);
  color: $app-memosa-light;
  height: $notebook-height;
  margin: 10px auto;
  padding-top: $notebook-height / 2 - $notebook-ledger-height / 2;
  position: relative;
  width: $notebook-width;

  &:before {
    content: ' ';
    border: 1px solid #b43d3f;
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .notebook-list-item__created {
    font-size: 12px;
    color: darken($app-memosa-light, 60%);
  }
}

.notebooks-list__item-inner {
  background-color: rgb(21, 21, 21);
  font-size: 16px;
  height: $notebook-ledger-height;
  padding: 20px;
  position: relative;
  width: $notebook-width;
  z-index: 2;
}


.notebooks-list__item-wrapper--default {
  .notebooks-list__item {
    background-color: transparent;
    border: 2px solid white;
    box-shadow: none;

    &:before {
      border: 1px solid #eee;
    }
  }

  .notebooks-list__item-inner {
    background-color: transparent;
  }
}
