.button--icon {
  background-color: transparent;
  height: auto;
  min-height: 0;
  width: auto;

  > * {
    transform: scale(1);
    transition: all .1s ease-in;
    transition-property: scale translateY;

    svg {
      transition-property: filter;
    }
  }

  &:hover {
    > * {
      transform: scale(1.1);

      svg {
        filter: drop-shadow(0px 2px 3px #aaa);
      }
    }
  }

  &:active {
    > * {
      transform: scale(1.1) translateY(1px);

      svg {
        filter: drop-shadow(0px 1px 2px #aaa);
      }
    }
  }
}
