
$fg: $app-memosa;
// Max number of menu items
$menu-items: 10;

%goo {
  filter: url('#shadowed-goo');
}

%ball {
  $width: 40pt;
  background: $fg;
  border-radius: 100%;
  width: $width;
  height: $width;
  margin-left: -$width/2;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0,0,0);
  transition: transform ease-out 200ms;
}

.gooey-menu__open {
  display: none;
}

.gooey-menu__item {
  @extend %ball;
}

.gooey-menu {
  @extend %goo;

  $width: 380px;
  position: absolute;
  left: 50%;
  margin-left: -$width/2;
  padding-top: 20px;
  padding-left: $width/2;
  width: $width;
  height: 0px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.gooey-menu__item {
  padding: 0 !important;

  &:hover {
    background: white;
    color: $fg;
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i+2}){
      transition-duration: 10ms+(60ms*($i));
    }
  }
}

.gooey-menu__open__button {
  @extend %ball;

  border: 2px solid $app-memosa-dark;
  padding: 0 !important;
  z-index: 2 !important;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1,1.1) translate3d(0,0,0);
  cursor: pointer;
}
.gooey-menu__open__button:hover {
  transform: scale(1.2,1.2) translate3d(0,0,0);
}
.gooey-menu--open .gooey-menu__open__button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8,0.8) translate3d(0,0,0);
}

.gooey-menu--open .gooey-menu__item {
  transition-timing-function: cubic-bezier(0.935, 0.000, 0.340, 1.330);

  @for $i from 1 through $menu-items {
    &:nth-child(#{$i+2}){
      transition-duration: 80ms+(80ms*$i);
    }
  }
}


.gooey-menu__line {
  $width: 20px;
  $height: 3px;
  width: $width;
  height: $height;
  background: $app-memosa-dark;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  transition: transform 200ms;
}

$hamburger-spacing:8px;

.gooey-menu__line-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.gooey-menu__line-2{
  transform:translate3d(0,0,0);
}
.gooey-menu__line-3{
  transform:translate3d(0,$hamburger-spacing,0);
}

.gooey-menu--open .gooey-menu__open__button {
  .gooey-menu__line-1 {
    transform:translate3d(0,0,0) rotate(45deg);
  }
  .gooey-menu__line-2 {
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .gooey-menu__line-3 {
    transform:translate3d(0,0,0) rotate(-45deg);
  }
}
