$navigation-tall-height: 95px;

.bar--tall {
  height: $navigation-tall-height;

  .title {
    height: $navigation-tall-height;
    overflow: visible;
  }

  .buttons {
    margin: 22px;
  }
}

.bar--transparent {
  background-color: transparent;
  border-bottom: transparent;
  border-top: transparent;
}

.content--bar-tall {
  top: $navigation-tall-height;
}
